@use '~/assets/sass/abstracts/index.sass' as abs

.mentor
	display: grid
	grid-template-columns: 1fr 38%
	grid-template-rows: 1fr 1fr
	align-items: center
	gap: 1rem
	position: relative
	padding-inline: abs.$padding-inline
	padding-top: 6rem
	padding-bottom: 10rem
	background-repeat: no-repeat
	background-position-x: -64px
	background-position-y: top
	background-image: url('public/images/sections/tope-talking.avif')

	& .mentor__name
		position: relative
		grid-row: 2
		grid-column: 1
		align-self: start
		margin-top: 4rem
		padding-left: 8rem
		color: abs.$color-white

		&:before
			content: ''
			position: absolute
			top: -20%
			left: -10%
			width: 174%
			height: 3px
			background-image: linear-gradient(to right, #1cbe8e, #79a745, #ad871b, #ce5c35, #cf3269)


		& h2
			font-size: 2.5rem
			font-weight: abs.$font-weight-300
			color: abs.$color-white

		& p
			margin-top: unset
			font-size: 1.5rem
			font-weight: abs.$font-weight-200

	& .mentor__info
		grid-row: 1
		grid-column: 2

		& h2
			font-size: 3.625rem
			font-weight: abs.$font-weight-600
			line-height: 1.2
			@include abs.clip-text(linear-gradient(to right bottom, #2d2643,  #95326e, #cf3269))

		& p
			margin-top: unset
			font-size: 1.5rem
			font-weight: abs.$font-weight-300
			line-height: 1.2
			text-align: justify

			& strong
				font-weight: abs.$font-weight-600

	& .mentor__award
		grid-row: 2
		grid-column: 2
		align-self: start
		@include abs.flex($direction: column)
		gap: 4rem
		margin-top: 4rem

		& .mentor__award_badge
			@include abs.flex($align: center)
			gap: 1rem
			font-size: 1.25rem
			font-weight: abs.$font-weight-700
			color: #13151D99

			img
				width: 94px
				aspect-ratio: 1

@media screen and (max-width: 1440px)
	.mentor
		background-position-x: -400px

		& .mentor__name
			margin-top: 1rem
			padding-left: 2rem

			&:before
				top: 0%

@media screen and (max-width: 1024px)
	.mentor
		padding-inline: abs.$spacing-unit
		background-position-x: -572px

		& .mentor__award
			& .cta
				width: 100%

@media screen and (max-width: 768px)
	.mentor
		grid-template-columns: 1fr
		grid-template-rows: auto
		align-items: start
		padding-inline: abs.$spacing-unit
		padding-block: abs.$spacing-unit
		background-image: unset

		& .mentor__name, & .mentor__info, & .mentor__award
			grid-column: 1

		& .mentor__name
			grid-row: 1
			place-self: unset
			align-self: unset
			margin-bottom: unset
			padding: unset
			text-align: center
			color: abs.$color-black

			&:before
				content: unset

			& h2
				margin-top: unset
				color: abs.$color-black

			& p
				margin-bottom: unset

		& .mentor__info
			grid-row: 2
			
			& h2
				margin-top: unset
				text-align: center

		& .mentor__award
			grid-row: 3
			gap: 1rem
			align-items: center
			margin-top: unset

			& .cta
				width: 26rem

@media screen and (max-width: 425px)
	.mentor
		& .mentor__award
			flex-direction: column
			align-items: center

			& .cta
				width: 100%